@view-transition {
  navigation: auto;
}

a {
  text-decoration: none;
}

.users img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(244, 244, 144);
}

.users a {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.user {
  display: flex;
  gap: 40px;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
